[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/thomas/Desktop/Netsoc Bank Mandate 2020]
row=2
col=12

[/home/thomas/Desktop/rs500.html]
row=6
col=12

[/home/thomas/Desktop/Unix Programming]
row=4
col=12

[/home/thomas/Desktop/highly_chaotic.png]
row=5
col=12

[/home/thomas/Desktop/tmp]
row=3
col=12

[/home/thomas/Desktop/800px-Supranational_European_Bodies-en.svg.png]
row=1
col=11

[/home/thomas/Desktop/is it though.png]
row=8
col=12

[/home/thomas/Desktop/is it though.jpg]
row=9
col=12

[/home/thomas/Desktop/steam.desktop]
row=7
col=12

[/home/thomas/Desktop/ds assign 1 meme i made this.png]
row=0
col=11

[/home/thomas/Desktop/index.png]
row=2
col=11

[/home/thomas/Desktop/calibri.png]
row=3
col=11

[/home/thomas/Desktop/Torrents]
row=1
col=12

[/home/thomas/Desktop/latex suite documentation.pdf]
row=0
col=12

[Trash]
row=6
col=11

[/]
row=5
col=11

[/home/thomas]
row=4
col=11

