[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/thomas/Desktop/Test]
row=0
col=1

[/home/thomas/Desktop/video cutting]
row=7
col=0

[/home/thomas/Desktop/Downloads]
row=3
col=0

[/home/thomas/Desktop/test]
row=1
col=1

[/home/thomas/Desktop/steam.desktop]
row=4
col=0

[/home/thomas/Desktop/Complete Torrents]
row=6
col=0

[/home/thomas/Desktop/Incomplete Torrents]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/thomas]
row=2
col=0

