[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/thomas/Desktop/Mindhunter.S01.1080p.NF.WEBRip.DD5.1.x264-NTb[rartv]]
row=3
col=1

[/home/thomas/Desktop/latex suite documentation.pdf]
row=2
col=1

[/home/thomas/Desktop/The.Last.Dance.S01.WEBRip.x264-ION10]
row=6
col=0

[/home/thomas/Desktop/Schitts.Creek.S04E00.Merry.Christmas.Johnny.Rose.1080p.WEBRip.x264-KOMPOST[rarbg]]
row=4
col=0

[/home/thomas/Desktop/Schitts.Creek.S04.1080p.AMZN.WEBRip.DDP2.0.x264-CtrlHD[rartv]]
row=0
col=1

[/home/thomas/Desktop/is it though.jpg]
row=5
col=0

[/home/thomas/Desktop/Netsoc Bank Mandate 2020]
row=4
col=4

[/home/thomas/Desktop/is it though.png]
row=1
col=1

[/home/thomas/Desktop/tmp]
row=5
col=1

[/home/thomas/Desktop/rs500.html]
row=3
col=3

[/home/thomas/Desktop/steam.desktop]
row=3
col=0

[/home/thomas/Desktop/Torrents]
row=4
col=3

[/home/thomas/Desktop/800px-Supranational_European_Bodies-en.svg.png]
row=3
col=4

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/thomas]
row=2
col=0

