[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/thomas/Desktop/Band.Of.Brothers.2001.COMPLETE.BDRip.x264-ANTISOCIAL[rartv]]
row=6
col=0

[/home/thomas/Desktop/Downloads]
row=3
col=0

[/home/thomas/Desktop/Parasite.2019.KOREAN.1080p.BluRay.x265-VXT]
row=1
col=1

[/home/thomas/Desktop/Jojo.Rabbit.2019.1080p.BluRay.x265-RARBG]
row=0
col=1

[/home/thomas/Desktop/Derry.Girls.S02.WEBRip.x264-ION10]
row=7
col=0

[/home/thomas/Desktop/steam.desktop]
row=5
col=0

[/home/thomas/Desktop/test]
row=4
col=0

[/home/thomas/Desktop/Inside.Job.2010.1080p.BluRay.H264.AAC-RARBG]
row=10
col=0

[/home/thomas/Desktop/Barry.S02.WEBRip.x264-ION10]
row=9
col=0

[/home/thomas/Desktop/Derry.Girls.S01.WEBRip.x264-ION10]
row=8
col=0

[/home/thomas/Desktop/Incomplete Torrents]
row=2
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/thomas]
row=2
col=0

