[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/thomas/Desktop/index.png]
row=3
col=33

[/home/thomas/Desktop/unknown.png]
row=6
col=33

[/home/thomas/Desktop/highly_chaotic.png]
row=5
col=33

[/home/thomas/Desktop/latex suite documentation.pdf]
row=2
col=32

[/home/thomas/Desktop/total area of a can.pdf]
row=7
col=32

[/home/thomas/Desktop/Torrents]
row=9
col=33

[/home/thomas/Desktop/photos]
row=3
col=25

[/home/thomas/Desktop/is it though.jpg]
row=0
col=32

[/home/thomas/Desktop/Netsoc Bank Mandate 2020]
row=4
col=33

[/home/thomas/Desktop/Lecture_3_-_Intro_to_Deep_Learning.pdf]
row=0
col=18

[/home/thomas/Desktop/is it though.png]
row=1
col=32

[/home/thomas/Desktop/rs500.html]
row=3
col=32

[/home/thomas/Desktop/800px-Supranational_European_Bodies-en.svg.png]
row=10
col=33

[/home/thomas/Desktop/ds assign 1 meme i made this.png]
row=4
col=19

[/home/thomas/Desktop/steam.desktop]
row=4
col=32

[/home/thomas/Desktop/joe's files.png]
row=7
col=33

[/home/thomas/Desktop/Info theory]
row=6
col=32

[/home/thomas/Desktop/calibri.png]
row=5
col=19

[/home/thomas/Desktop/Unix Programming]
row=0
col=19

[/home/thomas/Desktop/Screenshot_2020-11-20_16-08-36.png]
row=5
col=32

[/home/thomas/Desktop/tmp]
row=8
col=33

[Trash]
row=2
col=33

[/]
row=0
col=33

[/home/thomas]
row=1
col=33

